/* scroll in animation */

.scroll-in {
    opacity: 0;
    transform: translateY(40px);

}

/* Modern browsers */
@supports (animation-timeline: view()) {
    .scroll-in {
        animation: scrollIn 0.8s ease forwards;
        animation-timeline: view();
        animation-range: entry 20% cover 35%;
    }
}

@keyframes scrollIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* glboal vars */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    color: #333;
    line-height: 1.6;
    scroll-behavior: smooth;
}

/* hero */
.hero-split {
    padding: 100px 20px;
}

.hero-container {
    max-width: 1000px;
    margin: 0 auto -50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.hero-image img {
    width: 280px;
    height: 280px;
    border-radius: 8px;
    object-fit: cover;
    border: 5px solid #a7a7a7;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}

.hero-content {
    max-width: 500px;
}

.hero-content h1 {
    font-size: 3.5rem;
    margin: 0 0 10px;
    line-height: 1.1;
}

.degree {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ad5757;
}

.university {
    font-size: 1.1rem;
    color: #666;
    margin-top: 5px;
}

.university_image {
  height: 35px;
  vertical-align: middle;
  margin-left: -5px;
}

.email,
.phone {
    font-size: 1rem;
    color: #666;
    margin: 3px 0;
}

.content-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 20px;
}

/* about me */
.about-me h2,
.projects h2,
.contact-me h2 {
    color: #ad5757;
    font-size: 2rem;
    border-bottom: 2px solid #ad5757;
    display: inline-block;
    margin-bottom: 30px;
}

.about-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
}

.interests h3 {
    margin-top: 0;
    font-size: 1.2rem;
}

.about-me ul {
    padding-left: 20px;
    list-style-type: square;
}

.about-me li {
    margin-bottom: 10px;
}

/* Projects */
.projects {
    margin-top: 60px;
}

.project-media-spider iframe {
    margin-top: 150px;
    height: 150px;
    border-radius: 8px;
}

.project-card {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    margin-bottom: 60px;
}

.project-card h3 {
    font-size: 1.3rem;
    border-bottom: 2px solid #333;
    display: inline-block;
    margin-bottom: 10px;
}

.project-card p {
    color: #555;
}

.project-card ul {
    padding-left: 20px;
}

.project-card li {
    margin-bottom: 8px;
}

.project-media iframe{
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
    object-fit: cover;
    object-position: center;
}

.project-media img {
    width: 100%;
    max-height: 150px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
    object-fit: cover;
    object-position: center;
}

.project-media.images {
    display: grid;
    gap: 15px;
}

.image_sweeper img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
    object-fit: cover;
    object-position: center;

}

.tech {
    margin-top: 10px;
    font-style: italic;
    color: #666;
}

/* contact section */
.contact-me {
    color: #666;
    margin-top: 40px;
    margin-bottom: 70px;
}

.contact-me p {
    margin: 5px 0;
}

.contact-me a {
    color: #ad5757;
    text-decoration: none;
}

.contact-me a:hover {
    text-decoration: underline;
}



@media (max-width: 768px) {

    .hero-container {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .hero-content {
        text-align: center;
    }

    .hero-content h1 {
        font-size: 2.5rem;
    }

    .about-grid {
        grid-template-columns: 1fr;
    }

    .project-card {
        grid-template-columns: 1fr;
    }
}
